@model AssociadoModel
@{
    Layout = "_LayoutDeslogado";
    ViewData["Title"] = "Página do Associado";
}

@* <div class="btn-group" role="group">
    <a role="button" class="btn btn-primary">Editar</a>
    </div> *@
<div class="d-flex flex-row-reverse mt-3">
    <a role="button" class="btn btn-danger px-4" asp-controller="Associado"
        asp-action="Sair">Sair</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Dados do associado</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Nome:</td>
            <td>@Model.Nome</td>
            <td></td>
        </tr>
        <tr>
            <td>CPF:</td>
            <td>@Model.CPF</td>
            <td></td>
        </tr>
        <tr>
            <td>Placa:</td>
            <td>@Model.Placa</td>
            <td></td>
        </tr>
        <tr>
            <td>Endereço:</td>
            <td>@Model.Endereco</td>
            <td>

                <div class="btn-group" role="group">
                    <a role="button" class="btn btn-primary px-4" asp-route-id="@Model.Id" asp-controller="Associado"
                        asp-action="Editar">Editar</a>
                </div>

            </td>
        </tr>
        <tr>
            <td>Telefone:</td>
            <td>@Model.Telefone</td>
            <td></td>

        </tr>

    </tbody>

</table>
