@model List<AssociadoModel>
@{
    ViewData["Title"] = "Página do Associado";
}
<h1>Teste</h1>
<div class="text-center">
    <h1 class="display-4">Associado</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@* <div class="btn-group" role="group">
    <a role="button" class="btn btn-primary">Editar</a>
    </div> *@

<table class="table">
    <thead>
        <tr>
            <th>Dados do associado</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @if (Model != null && Model.Any())
        {
            foreach (var associado in Model)
            {
                <tr>
                    <td>Nome:</td>
                    <td>@associado.Nome</td>
                    <td></td>
                </tr>
                <tr>
                    <td>CPF:</td>
                    <td>@associado.CPF</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Placa:</td>
                    <td>@associado.Placa</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Endereço:</td>
                    <td>@associado.Endereco</td>
                    <td>

                        <div class="btn-group" role="group">
                            <a role="button" class="btn btn-primary" asp-route-id="@associado.Id" asp-controller="Associado"
                        asp-action="Editar">Editar</a>
                        </div>

                    </td>
                </tr>
                <tr>
                    <td>Telefone:</td>
                    <td>@associado.Telefone</td>
                    <td></td> 
            
                </tr>
                
            }
        }
    </tbody>
    
</table>
